{% load static %}
<header class="header">
    <div class="container">
        <!-- nav -->
        <nav class="header_nav">
            <div id="logo">
                <a href="/" class="editContent">
                    <img src="{% static 'img/logo.png' %}" alt="main_logo" class="logos">
                </a>
            </div>
            <div class="profile_nav">
                <a href="/" class="auth_link">Войти</a>
                <a href="/" class="singup_link">Регистрация</a>
            </div>
        </nav>
        <!-- //nav -->
    </div>
</header>