html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    background: url("../img/bg.png") center no-repeat;
    background-size: cover;
    min-height: 97vh;
    padding-bottom: 20px;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-size: 0.9em;
    color: #8c9398;
    line-height: 2em;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*--/header --*/

/* header */

/* CSS Document */

header {
    padding: 20px 0;
    z-index: 9;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */

nav {
    margin: 0;
    padding: 0;
}


#logo a {
    float: left;
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    font-family: 'Source Sans Pro', sans-serif;
}
.logos{max-width: 156px;}
.menu{display: flex;  align-items: center;}
.auth_link{margin-right: 25px;}
.row{margin: 0;}
.user_location{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    color: #B5B5B5;
}
.user_city{font-weight: 600;color: #0071BC;}
.search_form{display: flex;align-items: center;}
.form-control{
    background: #F2F2F2;
    box-shadow: inset 0 0 9px rgb(0 0 0 / 25%);
    border-radius: 45px;
    padding: 15px 41px;
}
.btn{ background: transparent;}
.search_result{margin-top: -20px;}
.text-center{margin: 0;}
.search_result_info{margin-top: 20px; align-items: center;}
.search_result_small{ display: grid; text-align: center; width: 20%;}
.search_result_full, .sun, .search_result_info{ display: flex;}
.search_result_full{justify-content: space-between; width: 80%; flex-wrap: wrap;}
.weather_card_info{
    background-color: white;
    height: 150px;
    padding: 15px 30px;
    border-radius: 25px;
    margin-bottom: 20px;
    max-width: 286px;
}
.card_name{
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    color: #0071BC;
}
.card_icon{max-width: 75px;}
.info_count{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #8AA5BA;
    margin-left: 15px;
}
.humid{font-size: 40px; margin-left: 20px;}
.weather_icon{width: 110px; margin: 0 auto;}
.weather_temp{font-weight: 600; font-size: 40px; color: #8AA5BA;}
.weather_main{font-weight: 700; font-size: 24px; color: #8A8A8A;}
.sun{    margin-top: -18px;}
.temp_card{    margin-top: -5px;}
.sunrise, .sunset{display: grid; text-align: center;}
.sunset img, .sunrise img{    margin: 0 auto;}
.sunset span, .sunrise span{
    font-weight: 400;
    font-size: 17px;
    color: #8AA5BA;
    opacity: 0.8;
    margin: 0;
}
.sunset{margin-left: 25px;}
.sunrise{margin-right: 25px;}
.temp_card, .temp_count, .humid_card{display: flex; align-items: center;}
.temp_count{ margin-left: 25px;}
.temp_name, .info_count_temp{margin: 0;}
.temp_max{margin-left: 15px;}
.form-group {margin-bottom: 7px;}
.form-group div .form-control{padding: 5px 30px;}
.profile_nav, .media{display: flex; align-items: center;}
.account-img{width: 135px;margin-right: 26px;}
.account-heading{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #0071BC;
    margin-bottom: 5px;
}
.account-email{
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #8AA5BA !important;
    margin-bottom: 5px;
}
.account-location{
    font-weight: 600;
    font-size: 17px;
    line-height: 29px;
    color: #878787;
}
.user_story{width: 50%;}
.history_user{
    background: #FFFFFF;
    border-radius: 25px;
    padding: 30px 40px;
    text-align: center;
    width: 100%;
    height: 421px;
    position: relative;
    margin-bottom: 30px;
}
.history_user_result{
    max-height: 253px;
    overflow-y: auto;
}
.history_block_title{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #8AA5BA;
}
.history_list_item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.city_name{font-size: 18px;}
.del_icon{width: 11px;}
.delete{display: none;}
.history_list_item:hover .delete{display: block;}
.delete_all{
    background: #FF6363;
    border-radius: 25px;
    padding: 12px 31px;
    color: white;
    position: absolute;
    bottom: 33px;
    left: 32%;
}
.user_blocks{display: flex; justify-content: space-between;}
.city_block{margin-top: 35px; width: 100%;}
.city_block_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.city_list_item{
    margin: 0 15px 15px 0;
    width: 23%;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 0 20px;
    height: 100px;
}
.city_img{
    max-width: 70px;
    border-radius: 10px;
    margin-right: 20px;
}
.city_descript p{margin: 0; line-height: 18px; font-size: 13px;}
.current_city_name{font-weight: 600;color: #0071BC;}
.current_city_country{    padding-top: 3px;}
.admin_panel{display: flex;   align-items: baseline;}
.admin_panel_filter{width: 150px;  margin-right: 35px; display: none;}
.filter_name{font-size: 20px;}
.filter-box-list{max-height: 230px;  overflow-y: scroll;}
.filter-box-list::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}
.filter-box-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0071BC;
}
.filter-box-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}
.filter_btn{
    border: none;
    background-color: #0071BC;
    color: white;
    border-radius: 10px;
    padding: 4px 35px;
    margin-top: 12px;
}
.city_img_detail{max-width: 240px;   border-radius: 20px;}
mark{
    background-color: transparent;
    color: #0071bc;
    font-weight: 800;
    font-size: 36px;
}
.img-fluid { width: 80px;}
.select_lang{border: 0;   padding: 5px;}
.lang_btn{
    background-color: transparent;
    border: 0;
    color: #0071bc;
    font-weight: 700;
    cursor: pointer;
}
.search_fail{max-width: 260px; margin: 18% auto 0;}
.error_emoji{font-size: 70px;  margin-bottom: 15px;}
.error_text{line-height: 1.5;}

/* Pagination */
.pagination {
    width: auto;
    margin: 0 auto
}
.pagination,
.pagination__link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}
.pagination__link {
    position: relative;
    left: -1px;
    top: 1px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #0071BC
}
.pagination__item {
    transition: all .2s ease-in-out;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin: 0 2px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}
.pagination__item:first-child {margin-left: 0}
.pagination__item:last-child {margin-right: 0}
.pagination__item.active .pagination__link { color: #fff;  background: #0071BC}
.pagination__item--dots .pagination__link { color: #bfd1f1}
/* --/Pagination */

/* Media Queries
--------------------------------------------- */

@media only screen and (max-width: 767px) {
    .pagination__link {   font-size: 15px    }
    .pagination__item {
        margin: 0 2px;
        width: 33px;
        height: 33px
    }
}

@media only screen and (min-width: 1025px) {
    .pagination a.pagination__link:hover {  background: rgba(102, 88, 175, .15) }
    .pagination__item.active:hover .pagination__link {color: #fff; background: #0071BC;}
}

@media(max-width:1280px) {

}

@media(max-width:1080px) {
    .search_result {  margin-top: -10px;}
    .search_result_info{flex-wrap: wrap; margin-top: 0;}
    .search_result_small{
        justify-content: space-around;
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .weather_icon { margin: 0;}
    .search_result_full{ width: 100%; }
    .user_story{width: 320px;}
    .delete_all{left: 20%;}
}

@media(max-width:1024px) {

}

@media(max-width:991px) {
    .weather_card_info{width: 48%;}
    .sun, .temp_card, .temp_count, .humid_card{justify-content: space-evenly;}
    .temp_max { margin-left: 30px;}
    .user_blocks{flex-wrap: wrap;}
    .person{width: 100%;    margin-bottom: 20px;}
    .user_story{ width: 100%;   display: flex;    justify-content: space-between;}
    .city_list_item{width: 31%;}
}

@media(max-width:800px) {

}

@media(max-width:767px) {
    .container {  max-width: 623px;}
    .user_story{flex-wrap: wrap;}
    .history_user{width: 100%;}
    .delete_all{left: 32%;}
    .city_list_item{width: 47%;}
}

@media(max-width:640px) {

}

@media(max-width:568px) {
     .weather_card_info{  width: 100%;  text-align: center;}
    .justify-content-between{flex-wrap: wrap; justify-content: space-around !important;}
}

@media(max-width:480px) {
    .menu{flex-wrap: wrap;  align-items: center;}
    .logos { max-width: 135px;}
    .delete_all{left: 27%;}
    .menu{justify-content: space-around;}
    #logo{margin-right: 63px;}
    .city_list_item{width: 45%;}
    .current_city_name{font-size: 11px !important;}
}

@media(max-width:440px) {
    #logo{margin-right: 36px;}
    .city_list_item{width: 100%;}
    .current_city_name{font-size: 15px !important;}
}

@media(max-width:414px) {
    #logo{margin-right: 11px;}
    .delete_all{left: 22%;}
    .nav-link {  padding: 0.5rem;}
}

@media(max-width:384px) {
    #logo{margin-right: 20px;}
    .account-heading{font-size: 24px;  line-height: 25px;}
    .account-email{font-size: 15px;    line-height: 20px;}
}

@media(max-width:375px) {
    #logo{margin-right: 35px;}
    .nav-link{padding: 5px;  font-size: 12px;}
}

@media(max-width:320px) {
    .logos{max-width: 90px;}
    #logo{margin-right: 27px;}
    .account-img { width: 95px;}
    .delete_all{left: 13%;}
}
