{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="search">
            {% if user.is_authenticated %}
                <p class="user_location">{{ user.profile.country }}, <span class="user_city">{{ user.profile.city }}</span></p>
            {% endif %}
            <form method="post" class="search_form">
            {% csrf_token %}
                <input type="text" class="form-control" name="city" placeholder="{% trans "Введите название города" %}">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <img src="{% static 'img/search.png' %}" alt="search_btn">
                    </button>
                </div>
            </form>
            <p class="text-center pb-4">{% now "j F, H:i" %}</p>
        </div>
        <div class="search_result">
            {% if country_code and cor and temp and pressure and humidity %}
                <h1 style='text-align: center; color:#0071BC;'><strong><a
								href="{% url 'city_detail' city openweather_id %}"
								class="text-dark">
							{{ city }}</a></strong></h1>
                <div class="search_result_info">
                    <div class="search_result_small">
                        <img class="weather_icon" src='http://openweathermap.org/img/w/{{icon}}.png' alt="weather_icon">
                        <span class="weather_temp"> {{temp}}&degC</span>
                        <span class="weather_main"> {{main}}</span>
                    </div>
                    <div class="search_result_full">
                        <div class="weather_card_info">
                            <p class="card_name">{% trans "Ветер" %}</p>
                            <div class="card_info">
                                <img class="card_icon" src="{% static 'img/wind.png' %}" alt="card_icon">
                                <span class="info_count"> {{wind}} м/сек</span>
                            </div>
                        </div>
                        <div class="weather_card_info">
                            <p class="card_name">{% trans "Давление" %}</p>
                            <div class="card_info ">
                                <img class="card_icon" src="{% static 'img/pressure.png' %}" alt="card_icon">
                                <span class="info_count"> {{pressure}} мм рт.ст</span>
                            </div>
                        </div>
                        <div class="weather_card_info">
                            <p class="card_name">{% trans "Влажность" %}</p>
                            <div class="card_info humid_card">
                                <img class="card_icon" src="{% static 'img/humidity.png' %}" alt="card_icon">
                                <span class="info_count humid"> {{humidity}}%</span>
                            </div>
                        </div>
                        <div class="weather_card_info">
                            <p class="card_name">{% trans "Рассвет / Закат" %}</p>
                            <div class="card_info sun">
                                <div class="sunrise">
                                   <img class="card_icon" src="{% static 'img/dawn.png' %}" alt="card_icon">
                                    <span class="info_count"> {{sunrise}}</span>
                                </div>
                                <div class="sunset">
                                   <img class="card_icon" src="{% static 'img/sunset.png' %}" alt="card_icon">
                                    <span class="info_count"> {{sunset}}</span>
                                </div>
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="weather_card_info">
                                {% if fav %}
                                    <a href="{% url 'favorite_go' city %}" class="fav_to">{{ city }} {% trans "в Избранном" %}</a>
                                {% else %}
                                    <a href="{% url 'favorite_go' city %}" class="fav_to">{% trans "Добавить в избранное" %} {{ city }}</a>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="weather_card_info">
                            <p class="card_name">{% trans "Температура" %}</p>
                            <div class="card_info temp_card">
                                <img class="card_icon" src="{% static 'img/thermometer.png' %}" alt="card_icon">
                                <div class="temp_count">
                                    <div class="temp_min">
                                        <p class="temp_name">Min</p>
                                        <span class="info_count info_count_temp"> {{temp_min}}&deg</span>
                                    </div>
                                    <div class="temp_max">
                                        <p class="temp_name">Max</p>
                                        <span class="info_count info_count_temp"> {{temp_min}}&deg</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}